<!--/views/country_one.erb-->

  <h1>Convert <%=@country_one%></h1>

  <p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/<%=@country_one%>/AED">
        Convert 1 <%=@country_one%> to AED...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/AFN">
        Convert 1 <%=@country_one%> to AFN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ALL">
        Convert 1 <%=@country_one%> to ALL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/AMD">
        Convert 1 <%=@country_one%> to AMD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ANG">
        Convert 1 <%=@country_one%> to ANG...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/AOA">
        Convert 1 <%=@country_one%> to AOA...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ARS">
        Convert 1 <%=@country_one%> to ARS...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/AUD">
        Convert 1 <%=@country_one%> to AUD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/AWG">
        Convert 1 <%=@country_one%> to AWG...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/AZN">
        Convert 1 <%=@country_one%> to AZN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BAM">
        Convert 1 <%=@country_one%> to BAM...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BBD">
        Convert 1 <%=@country_one%> to BBD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BDT">
        Convert 1 <%=@country_one%> to BDT...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BGN">
        Convert 1 <%=@country_one%> to BGN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BHD">
        Convert 1 <%=@country_one%> to BHD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BIF">
        Convert 1 <%=@country_one%> to BIF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BMD">
        Convert 1 <%=@country_one%> to BMD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BND">
        Convert 1 <%=@country_one%> to BND...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BOB">
        Convert 1 <%=@country_one%> to BOB...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BRL">
        Convert 1 <%=@country_one%> to BRL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BSD">
        Convert 1 <%=@country_one%> to BSD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BTC">
        Convert 1 <%=@country_one%> to BTC...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BTN">
        Convert 1 <%=@country_one%> to BTN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BWP">
        Convert 1 <%=@country_one%> to BWP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BYN">
        Convert 1 <%=@country_one%> to BYN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BYR">
        Convert 1 <%=@country_one%> to BYR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/BZD">
        Convert 1 <%=@country_one%> to BZD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CAD">
        Convert 1 <%=@country_one%> to CAD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CDF">
        Convert 1 <%=@country_one%> to CDF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CHF">
        Convert 1 <%=@country_one%> to CHF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CLF">
        Convert 1 <%=@country_one%> to CLF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CLP">
        Convert 1 <%=@country_one%> to CLP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CNY">
        Convert 1 <%=@country_one%> to CNY...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/COP">
        Convert 1 <%=@country_one%> to COP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CRC">
        Convert 1 <%=@country_one%> to CRC...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CUC">
        Convert 1 <%=@country_one%> to CUC...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CUP">
        Convert 1 <%=@country_one%> to CUP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CVE">
        Convert 1 <%=@country_one%> to CVE...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/CZK">
        Convert 1 <%=@country_one%> to CZK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/DJF">
        Convert 1 <%=@country_one%> to DJF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/DKK">
        Convert 1 <%=@country_one%> to DKK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/DOP">
        Convert 1 <%=@country_one%> to DOP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/DZD">
        Convert 1 <%=@country_one%> to DZD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/EGP">
        Convert 1 <%=@country_one%> to EGP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ERN">
        Convert 1 <%=@country_one%> to ERN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ETB">
        Convert 1 <%=@country_one%> to ETB...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/EUR">
        Convert 1 <%=@country_one%> to EUR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/FJD">
        Convert 1 <%=@country_one%> to FJD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/FKP">
        Convert 1 <%=@country_one%> to FKP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/GBP">
        Convert 1 <%=@country_one%> to GBP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/GEL">
        Convert 1 <%=@country_one%> to GEL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/GGP">
        Convert 1 <%=@country_one%> to GGP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/GHS">
        Convert 1 <%=@country_one%> to GHS...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/GIP">
        Convert 1 <%=@country_one%> to GIP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/GMD">
        Convert 1 <%=@country_one%> to GMD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/GNF">
        Convert 1 <%=@country_one%> to GNF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/GTQ">
        Convert 1 <%=@country_one%> to GTQ...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/GYD">
        Convert 1 <%=@country_one%> to GYD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/HKD">
        Convert 1 <%=@country_one%> to HKD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/HNL">
        Convert 1 <%=@country_one%> to HNL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/HRK">
        Convert 1 <%=@country_one%> to HRK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/HTG">
        Convert 1 <%=@country_one%> to HTG...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/HUF">
        Convert 1 <%=@country_one%> to HUF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/IDR">
        Convert 1 <%=@country_one%> to IDR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ILS">
        Convert 1 <%=@country_one%> to ILS...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/IMP">
        Convert 1 <%=@country_one%> to IMP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/INR">
        Convert 1 <%=@country_one%> to INR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/IQD">
        Convert 1 <%=@country_one%> to IQD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/IRR">
        Convert 1 <%=@country_one%> to IRR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ISK">
        Convert 1 <%=@country_one%> to ISK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/JEP">
        Convert 1 <%=@country_one%> to JEP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/JMD">
        Convert 1 <%=@country_one%> to JMD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/JOD">
        Convert 1 <%=@country_one%> to JOD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/JPY">
        Convert 1 <%=@country_one%> to JPY...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/KES">
        Convert 1 <%=@country_one%> to KES...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/KGS">
        Convert 1 <%=@country_one%> to KGS...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/KHR">
        Convert 1 <%=@country_one%> to KHR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/KMF">
        Convert 1 <%=@country_one%> to KMF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/KPW">
        Convert 1 <%=@country_one%> to KPW...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/KRW">
        Convert 1 <%=@country_one%> to KRW...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/KWD">
        Convert 1 <%=@country_one%> to KWD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/KYD">
        Convert 1 <%=@country_one%> to KYD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/KZT">
        Convert 1 <%=@country_one%> to KZT...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/LAK">
        Convert 1 <%=@country_one%> to LAK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/LBP">
        Convert 1 <%=@country_one%> to LBP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/LKR">
        Convert 1 <%=@country_one%> to LKR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/LRD">
        Convert 1 <%=@country_one%> to LRD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/LSL">
        Convert 1 <%=@country_one%> to LSL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/LTL">
        Convert 1 <%=@country_one%> to LTL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/LVL">
        Convert 1 <%=@country_one%> to LVL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/LYD">
        Convert 1 <%=@country_one%> to LYD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MAD">
        Convert 1 <%=@country_one%> to MAD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MDL">
        Convert 1 <%=@country_one%> to MDL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MGA">
        Convert 1 <%=@country_one%> to MGA...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MKD">
        Convert 1 <%=@country_one%> to MKD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MMK">
        Convert 1 <%=@country_one%> to MMK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MNT">
        Convert 1 <%=@country_one%> to MNT...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MOP">
        Convert 1 <%=@country_one%> to MOP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MRO">
        Convert 1 <%=@country_one%> to MRO...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MUR">
        Convert 1 <%=@country_one%> to MUR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MVR">
        Convert 1 <%=@country_one%> to MVR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MWK">
        Convert 1 <%=@country_one%> to MWK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MXN">
        Convert 1 <%=@country_one%> to MXN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MYR">
        Convert 1 <%=@country_one%> to MYR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/MZN">
        Convert 1 <%=@country_one%> to MZN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/NAD">
        Convert 1 <%=@country_one%> to NAD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/NGN">
        Convert 1 <%=@country_one%> to NGN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/NIO">
        Convert 1 <%=@country_one%> to NIO...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/NOK">
        Convert 1 <%=@country_one%> to NOK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/NPR">
        Convert 1 <%=@country_one%> to NPR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/NZD">
        Convert 1 <%=@country_one%> to NZD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/OMR">
        Convert 1 <%=@country_one%> to OMR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/PAB">
        Convert 1 <%=@country_one%> to PAB...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/PEN">
        Convert 1 <%=@country_one%> to PEN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/PGK">
        Convert 1 <%=@country_one%> to PGK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/PHP">
        Convert 1 <%=@country_one%> to PHP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/PKR">
        Convert 1 <%=@country_one%> to PKR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/PLN">
        Convert 1 <%=@country_one%> to PLN...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/PYG">
        Convert 1 <%=@country_one%> to PYG...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/QAR">
        Convert 1 <%=@country_one%> to QAR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/RON">
        Convert 1 <%=@country_one%> to RON...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/RSD">
        Convert 1 <%=@country_one%> to RSD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/RUB">
        Convert 1 <%=@country_one%> to RUB...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/RWF">
        Convert 1 <%=@country_one%> to RWF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SAR">
        Convert 1 <%=@country_one%> to SAR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SBD">
        Convert 1 <%=@country_one%> to SBD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SCR">
        Convert 1 <%=@country_one%> to SCR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SDG">
        Convert 1 <%=@country_one%> to SDG...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SEK">
        Convert 1 <%=@country_one%> to SEK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SGD">
        Convert 1 <%=@country_one%> to SGD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SHP">
        Convert 1 <%=@country_one%> to SHP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SLE">
        Convert 1 <%=@country_one%> to SLE...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SLL">
        Convert 1 <%=@country_one%> to SLL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SOS">
        Convert 1 <%=@country_one%> to SOS...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SRD">
        Convert 1 <%=@country_one%> to SRD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SSP">
        Convert 1 <%=@country_one%> to SSP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/STD">
        Convert 1 <%=@country_one%> to STD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SVC">
        Convert 1 <%=@country_one%> to SVC...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SYP">
        Convert 1 <%=@country_one%> to SYP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/SZL">
        Convert 1 <%=@country_one%> to SZL...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/THB">
        Convert 1 <%=@country_one%> to THB...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/TJS">
        Convert 1 <%=@country_one%> to TJS...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/TMT">
        Convert 1 <%=@country_one%> to TMT...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/TND">
        Convert 1 <%=@country_one%> to TND...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/TOP">
        Convert 1 <%=@country_one%> to TOP...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/TRY">
        Convert 1 <%=@country_one%> to TRY...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/TTD">
        Convert 1 <%=@country_one%> to TTD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/TWD">
        Convert 1 <%=@country_one%> to TWD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/TZS">
        Convert 1 <%=@country_one%> to TZS...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/UAH">
        Convert 1 <%=@country_one%> to UAH...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/UGX">
        Convert 1 <%=@country_one%> to UGX...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/USD">
        Convert 1 <%=@country_one%> to USD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/UYU">
        Convert 1 <%=@country_one%> to UYU...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/UZS">
        Convert 1 <%=@country_one%> to UZS...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/VEF">
        Convert 1 <%=@country_one%> to VEF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/VES">
        Convert 1 <%=@country_one%> to VES...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/VND">
        Convert 1 <%=@country_one%> to VND...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/VUV">
        Convert 1 <%=@country_one%> to VUV...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/WST">
        Convert 1 <%=@country_one%> to WST...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/XAF">
        Convert 1 <%=@country_one%> to XAF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/XAG">
        Convert 1 <%=@country_one%> to XAG...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/XAU">
        Convert 1 <%=@country_one%> to XAU...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/XCD">
        Convert 1 <%=@country_one%> to XCD...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/XDR">
        Convert 1 <%=@country_one%> to XDR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/XOF">
        Convert 1 <%=@country_one%> to XOF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/XPF">
        Convert 1 <%=@country_one%> to XPF...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/YER">
        Convert 1 <%=@country_one%> to YER...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ZAR">
        Convert 1 <%=@country_one%> to ZAR...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ZMK">
        Convert 1 <%=@country_one%> to ZMK...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ZMW">
        Convert 1 <%=@country_one%> to ZMW...
      </a>
    </li>
    <li>
      <a href="/<%=@country_one%>/ZWL">
        Convert 1 <%=@country_one%> to ZWL...
      </a>
    </li>
</ul>
