<!--/views/country_one.erb-->

  <h1>Convert <%=@country_one%></h1>

  <p>Go <a href="/">back</a>.</p>

<ul>
    <li>
      <a href="/@country_one/AED">
        Convert 1 <%=@country_one%> to AED...
      </a>
    </li>
    <li>
      <a href="/@country_one/AFN">
        Convert 1 <%=@country_one%> to AFN...
      </a>
    </li>
    <li>
      <a href="/AED/ALL">
        Convert 1 <%=@country_one%> to ALL...
      </a>
    </li>
    <li>
      <a href="/AED/AMD">
        Convert 1 <%=@country_one%> to AMD...
      </a>
    </li>
    <li>
      <a href="/AED/ANG">
        Convert 1 <%=@country_one%> to ANG...
      </a>
    </li>
    <li>
      <a href="/AED/AOA">
        Convert 1 <%=@country_one%> to AOA...
      </a>
    </li>
    <li>
      <a href="/AED/ARS">
        Convert 1 <%=@country_one%> to ARS...
      </a>
    </li>
    <li>
      <a href="/AED/AUD">
        Convert 1 <%=@country_one%> to AUD...
      </a>
    </li>
    <li>
      <a href="/AED/AWG">
        Convert 1 <%=@country_one%> to AWG...
      </a>
    </li>
    <li>
      <a href="/AED/AZN">
        Convert 1 <%=@country_one%> to AZN...
      </a>
    </li>
    <li>
      <a href="/AED/BAM">
        Convert 1 <%=@country_one%> to BAM...
      </a>
    </li>
    <li>
      <a href="/AED/BBD">
        Convert 1 <%=@country_one%> to BBD...
      </a>
    </li>
    <li>
      <a href="/AED/BDT">
        Convert 1 <%=@country_one%> to BDT...
      </a>
    </li>
    <li>
      <a href="/AED/BGN">
        Convert 1 <%=@country_one%> to BGN...
      </a>
    </li>
    <li>
      <a href="/AED/BHD">
        Convert 1 <%=@country_one%> to BHD...
      </a>
    </li>
    <li>
      <a href="/AED/BIF">
        Convert 1 <%=@country_one%> to BIF...
      </a>
    </li>
    <li>
      <a href="/AED/BMD">
        Convert 1 <%=@country_one%> to BMD...
      </a>
    </li>
    <li>
      <a href="/AED/BND">
        Convert 1 <%=@country_one%> to BND...
      </a>
    </li>
    <li>
      <a href="/AED/BOB">
        Convert 1 <%=@country_one%> to BOB...
      </a>
    </li>
    <li>
      <a href="/AED/BRL">
        Convert 1 <%=@country_one%> to BRL...
      </a>
    </li>
    <li>
      <a href="/AED/BSD">
        Convert 1 <%=@country_one%> to BSD...
      </a>
    </li>
    <li>
      <a href="/AED/BTC">
        Convert 1 <%=@country_one%> to BTC...
      </a>
    </li>
    <li>
      <a href="/AED/BTN">
        Convert 1 <%=@country_one%> to BTN...
      </a>
    </li>
    <li>
      <a href="/AED/BWP">
        Convert 1 <%=@country_one%> to BWP...
      </a>
    </li>
    <li>
      <a href="/AED/BYN">
        Convert 1 <%=@country_one%> to BYN...
      </a>
    </li>
    <li>
      <a href="/AED/BYR">
        Convert 1 <%=@country_one%> to BYR...
      </a>
    </li>
    <li>
      <a href="/AED/BZD">
        Convert 1 <%=@country_one%> to BZD...
      </a>
    </li>
    <li>
      <a href="/AED/CAD">
        Convert 1 <%=@country_one%> to CAD...
      </a>
    </li>
    <li>
      <a href="/AED/CDF">
        Convert 1 <%=@country_one%> to CDF...
      </a>
    </li>
    <li>
      <a href="/AED/CHF">
        Convert 1 <%=@country_one%> to CHF...
      </a>
    </li>
    <li>
      <a href="/AED/CLF">
        Convert 1 <%=@country_one%> to CLF...
      </a>
    </li>
    <li>
      <a href="/AED/CLP">
        Convert 1 <%=@country_one%> to CLP...
      </a>
    </li>
    <li>
      <a href="/AED/CNY">
        Convert 1 <%=@country_one%> to CNY...
      </a>
    </li>
    <li>
      <a href="/AED/COP">
        Convert 1 <%=@country_one%> to COP...
      </a>
    </li>
    <li>
      <a href="/AED/CRC">
        Convert 1 <%=@country_one%> to CRC...
      </a>
    </li>
    <li>
      <a href="/AED/CUC">
        Convert 1 <%=@country_one%> to CUC...
      </a>
    </li>
    <li>
      <a href="/AED/CUP">
        Convert 1 <%=@country_one%> to CUP...
      </a>
    </li>
    <li>
      <a href="/AED/CVE">
        Convert 1 <%=@country_one%> to CVE...
      </a>
    </li>
    <li>
      <a href="/AED/CZK">
        Convert 1 <%=@country_one%> to CZK...
      </a>
    </li>
    <li>
      <a href="/AED/DJF">
        Convert 1 <%=@country_one%> to DJF...
      </a>
    </li>
    <li>
      <a href="/AED/DKK">
        Convert 1 <%=@country_one%> to DKK...
      </a>
    </li>
    <li>
      <a href="/AED/DOP">
        Convert 1 <%=@country_one%> to DOP...
      </a>
    </li>
    <li>
      <a href="/AED/DZD">
        Convert 1 <%=@country_one%> to DZD...
      </a>
    </li>
    <li>
      <a href="/AED/EGP">
        Convert 1 <%=@country_one%> to EGP...
      </a>
    </li>
    <li>
      <a href="/AED/ERN">
        Convert 1 <%=@country_one%> to ERN...
      </a>
    </li>
    <li>
      <a href="/AED/ETB">
        Convert 1 <%=@country_one%> to ETB...
      </a>
    </li>
    <li>
      <a href="/AED/EUR">
        Convert 1 <%=@country_one%> to EUR...
      </a>
    </li>
    <li>
      <a href="/AED/FJD">
        Convert 1 <%=@country_one%> to FJD...
      </a>
    </li>
    <li>
      <a href="/AED/FKP">
        Convert 1 <%=@country_one%> to FKP...
      </a>
    </li>
    <li>
      <a href="/AED/GBP">
        Convert 1 <%=@country_one%> to GBP...
      </a>
    </li>
    <li>
      <a href="/AED/GEL">
        Convert 1 <%=@country_one%> to GEL...
      </a>
    </li>
    <li>
      <a href="/AED/GGP">
        Convert 1 <%=@country_one%> to GGP...
      </a>
    </li>
    <li>
      <a href="/AED/GHS">
        Convert 1 <%=@country_one%> to GHS...
      </a>
    </li>
    <li>
      <a href="/AED/GIP">
        Convert 1 <%=@country_one%> to GIP...
      </a>
    </li>
    <li>
      <a href="/AED/GMD">
        Convert 1 <%=@country_one%> to GMD...
      </a>
    </li>
    <li>
      <a href="/AED/GNF">
        Convert 1 <%=@country_one%> to GNF...
      </a>
    </li>
    <li>
      <a href="/AED/GTQ">
        Convert 1 <%=@country_one%> to GTQ...
      </a>
    </li>
    <li>
      <a href="/AED/GYD">
        Convert 1 <%=@country_one%> to GYD...
      </a>
    </li>
    <li>
      <a href="/AED/HKD">
        Convert 1 <%=@country_one%> to HKD...
      </a>
    </li>
    <li>
      <a href="/AED/HNL">
        Convert 1 <%=@country_one%> to HNL...
      </a>
    </li>
    <li>
      <a href="/AED/HRK">
        Convert 1 <%=@country_one%> to HRK...
      </a>
    </li>
    <li>
      <a href="/AED/HTG">
        Convert 1 <%=@country_one%> to HTG...
      </a>
    </li>
    <li>
      <a href="/AED/HUF">
        Convert 1 <%=@country_one%> to HUF...
      </a>
    </li>
    <li>
      <a href="/AED/IDR">
        Convert 1 <%=@country_one%> to IDR...
      </a>
    </li>
    <li>
      <a href="/AED/ILS">
        Convert 1 <%=@country_one%> to ILS...
      </a>
    </li>
    <li>
      <a href="/AED/IMP">
        Convert 1 <%=@country_one%> to IMP...
      </a>
    </li>
    <li>
      <a href="/AED/INR">
        Convert 1 <%=@country_one%> to INR...
      </a>
    </li>
    <li>
      <a href="/AED/IQD">
        Convert 1 <%=@country_one%> to IQD...
      </a>
    </li>
    <li>
      <a href="/AED/IRR">
        Convert 1 <%=@country_one%> to IRR...
      </a>
    </li>
    <li>
      <a href="/AED/ISK">
        Convert 1 <%=@country_one%> to ISK...
      </a>
    </li>
    <li>
      <a href="/AED/JEP">
        Convert 1 <%=@country_one%> to JEP...
      </a>
    </li>
    <li>
      <a href="/AED/JMD">
        Convert 1 <%=@country_one%> to JMD...
      </a>
    </li>
    <li>
      <a href="/AED/JOD">
        Convert 1 <%=@country_one%> to JOD...
      </a>
    </li>
    <li>
      <a href="/AED/JPY">
        Convert 1 <%=@country_one%> to JPY...
      </a>
    </li>
    <li>
      <a href="/AED/KES">
        Convert 1 <%=@country_one%> to KES...
      </a>
    </li>
    <li>
      <a href="/AED/KGS">
        Convert 1 <%=@country_one%> to KGS...
      </a>
    </li>
    <li>
      <a href="/AED/KHR">
        Convert 1 <%=@country_one%> to KHR...
      </a>
    </li>
    <li>
      <a href="/AED/KMF">
        Convert 1 <%=@country_one%> to KMF...
      </a>
    </li>
    <li>
      <a href="/AED/KPW">
        Convert 1 <%=@country_one%> to KPW...
      </a>
    </li>
    <li>
      <a href="/AED/KRW">
        Convert 1 <%=@country_one%> to KRW...
      </a>
    </li>
    <li>
      <a href="/AED/KWD">
        Convert 1 <%=@country_one%> to KWD...
      </a>
    </li>
    <li>
      <a href="/AED/KYD">
        Convert 1 <%=@country_one%> to KYD...
      </a>
    </li>
    <li>
      <a href="/AED/KZT">
        Convert 1 <%=@country_one%> to KZT...
      </a>
    </li>
    <li>
      <a href="/AED/LAK">
        Convert 1 <%=@country_one%> to LAK...
      </a>
    </li>
    <li>
      <a href="/AED/LBP">
        Convert 1 <%=@country_one%> to LBP...
      </a>
    </li>
    <li>
      <a href="/AED/LKR">
        Convert 1 <%=@country_one%> to LKR...
      </a>
    </li>
    <li>
      <a href="/AED/LRD">
        Convert 1 <%=@country_one%> to LRD...
      </a>
    </li>
    <li>
      <a href="/AED/LSL">
        Convert 1 <%=@country_one%> to LSL...
      </a>
    </li>
    <li>
      <a href="/AED/LTL">
        Convert 1 <%=@country_one%> to LTL...
      </a>
    </li>
    <li>
      <a href="/AED/LVL">
        Convert 1 <%=@country_one%> to LVL...
      </a>
    </li>
    <li>
      <a href="/AED/LYD">
        Convert 1 <%=@country_one%> to LYD...
      </a>
    </li>
    <li>
      <a href="/AED/MAD">
        Convert 1 <%=@country_one%> to MAD...
      </a>
    </li>
    <li>
      <a href="/AED/MDL">
        Convert 1 <%=@country_one%> to MDL...
      </a>
    </li>
    <li>
      <a href="/AED/MGA">
        Convert 1 <%=@country_one%> to MGA...
      </a>
    </li>
    <li>
      <a href="/AED/MKD">
        Convert 1 <%=@country_one%> to MKD...
      </a>
    </li>
    <li>
      <a href="/AED/MMK">
        Convert 1 <%=@country_one%> to MMK...
      </a>
    </li>
    <li>
      <a href="/AED/MNT">
        Convert 1 <%=@country_one%> to MNT...
      </a>
    </li>
    <li>
      <a href="/AED/MOP">
        Convert 1 <%=@country_one%> to MOP...
      </a>
    </li>
    <li>
      <a href="/AED/MRO">
        Convert 1 <%=@country_one%> to MRO...
      </a>
    </li>
    <li>
      <a href="/AED/MUR">
        Convert 1 <%=@country_one%> to MUR...
      </a>
    </li>
    <li>
      <a href="/AED/MVR">
        Convert 1 <%=@country_one%> to MVR...
      </a>
    </li>
    <li>
      <a href="/AED/MWK">
        Convert 1 <%=@country_one%> to MWK...
      </a>
    </li>
    <li>
      <a href="/AED/MXN">
        Convert 1 <%=@country_one%> to MXN...
      </a>
    </li>
    <li>
      <a href="/AED/MYR">
        Convert 1 <%=@country_one%> to MYR...
      </a>
    </li>
    <li>
      <a href="/AED/MZN">
        Convert 1 <%=@country_one%> to MZN...
      </a>
    </li>
    <li>
      <a href="/AED/NAD">
        Convert 1 <%=@country_one%> to NAD...
      </a>
    </li>
    <li>
      <a href="/AED/NGN">
        Convert 1 <%=@country_one%> to NGN...
      </a>
    </li>
    <li>
      <a href="/AED/NIO">
        Convert 1 <%=@country_one%> to NIO...
      </a>
    </li>
    <li>
      <a href="/AED/NOK">
        Convert 1 <%=@country_one%> to NOK...
      </a>
    </li>
    <li>
      <a href="/AED/NPR">
        Convert 1 <%=@country_one%> to NPR...
      </a>
    </li>
    <li>
      <a href="/AED/NZD">
        Convert 1 <%=@country_one%> to NZD...
      </a>
    </li>
    <li>
      <a href="/AED/OMR">
        Convert 1 <%=@country_one%> to OMR...
      </a>
    </li>
    <li>
      <a href="/AED/PAB">
        Convert 1 <%=@country_one%> to PAB...
      </a>
    </li>
    <li>
      <a href="/AED/PEN">
        Convert 1 <%=@country_one%> to PEN...
      </a>
    </li>
    <li>
      <a href="/AED/PGK">
        Convert 1 <%=@country_one%> to PGK...
      </a>
    </li>
    <li>
      <a href="/AED/PHP">
        Convert 1 <%=@country_one%> to PHP...
      </a>
    </li>
    <li>
      <a href="/AED/PKR">
        Convert 1 <%=@country_one%> to PKR...
      </a>
    </li>
    <li>
      <a href="/AED/PLN">
        Convert 1 <%=@country_one%> to PLN...
      </a>
    </li>
    <li>
      <a href="/AED/PYG">
        Convert 1 <%=@country_one%> to PYG...
      </a>
    </li>
    <li>
      <a href="/AED/QAR">
        Convert 1 <%=@country_one%> to QAR...
      </a>
    </li>
    <li>
      <a href="/AED/RON">
        Convert 1 <%=@country_one%> to RON...
      </a>
    </li>
    <li>
      <a href="/AED/RSD">
        Convert 1 <%=@country_one%> to RSD...
      </a>
    </li>
    <li>
      <a href="/AED/RUB">
        Convert 1 <%=@country_one%> to RUB...
      </a>
    </li>
    <li>
      <a href="/AED/RWF">
        Convert 1 <%=@country_one%> to RWF...
      </a>
    </li>
    <li>
      <a href="/AED/SAR">
        Convert 1 <%=@country_one%> to SAR...
      </a>
    </li>
    <li>
      <a href="/AED/SBD">
        Convert 1 <%=@country_one%> to SBD...
      </a>
    </li>
    <li>
      <a href="/AED/SCR">
        Convert 1 <%=@country_one%> to SCR...
      </a>
    </li>
    <li>
      <a href="/AED/SDG">
        Convert 1 <%=@country_one%> to SDG...
      </a>
    </li>
    <li>
      <a href="/AED/SEK">
        Convert 1 <%=@country_one%> to SEK...
      </a>
    </li>
    <li>
      <a href="/AED/SGD">
        Convert 1 <%=@country_one%> to SGD...
      </a>
    </li>
    <li>
      <a href="/AED/SHP">
        Convert 1 <%=@country_one%> to SHP...
      </a>
    </li>
    <li>
      <a href="/AED/SLE">
        Convert 1 <%=@country_one%> to SLE...
      </a>
    </li>
    <li>
      <a href="/AED/SLL">
        Convert 1 <%=@country_one%> to SLL...
      </a>
    </li>
    <li>
      <a href="/AED/SOS">
        Convert 1 <%=@country_one%> to SOS...
      </a>
    </li>
    <li>
      <a href="/AED/SRD">
        Convert 1 <%=@country_one%> to SRD...
      </a>
    </li>
    <li>
      <a href="/AED/SSP">
        Convert 1 <%=@country_one%> to SSP...
      </a>
    </li>
    <li>
      <a href="/AED/STD">
        Convert 1 <%=@country_one%> to STD...
      </a>
    </li>
    <li>
      <a href="/AED/SVC">
        Convert 1 <%=@country_one%> to SVC...
      </a>
    </li>
    <li>
      <a href="/AED/SYP">
        Convert 1 <%=@country_one%> to SYP...
      </a>
    </li>
    <li>
      <a href="/AED/SZL">
        Convert 1 <%=@country_one%> to SZL...
      </a>
    </li>
    <li>
      <a href="/AED/THB">
        Convert 1 <%=@country_one%> to THB...
      </a>
    </li>
    <li>
      <a href="/AED/TJS">
        Convert 1 <%=@country_one%> to TJS...
      </a>
    </li>
    <li>
      <a href="/AED/TMT">
        Convert 1 <%=@country_one%> to TMT...
      </a>
    </li>
    <li>
      <a href="/AED/TND">
        Convert 1 <%=@country_one%> to TND...
      </a>
    </li>
    <li>
      <a href="/AED/TOP">
        Convert 1 <%=@country_one%> to TOP...
      </a>
    </li>
    <li>
      <a href="/AED/TRY">
        Convert 1 <%=@country_one%> to TRY...
      </a>
    </li>
    <li>
      <a href="/AED/TTD">
        Convert 1 <%=@country_one%> to TTD...
      </a>
    </li>
    <li>
      <a href="/AED/TWD">
        Convert 1 <%=@country_one%> to TWD...
      </a>
    </li>
    <li>
      <a href="/AED/TZS">
        Convert 1 <%=@country_one%> to TZS...
      </a>
    </li>
    <li>
      <a href="/AED/UAH">
        Convert 1 <%=@country_one%> to UAH...
      </a>
    </li>
    <li>
      <a href="/AED/UGX">
        Convert 1 <%=@country_one%> to UGX...
      </a>
    </li>
    <li>
      <a href="/AED/USD">
        Convert 1 <%=@country_one%> to USD...
      </a>
    </li>
    <li>
      <a href="/AED/UYU">
        Convert 1 <%=@country_one%> to UYU...
      </a>
    </li>
    <li>
      <a href="/AED/UZS">
        Convert 1 <%=@country_one%> to UZS...
      </a>
    </li>
    <li>
      <a href="/AED/VEF">
        Convert 1 <%=@country_one%> to VEF...
      </a>
    </li>
    <li>
      <a href="/AED/VES">
        Convert 1 <%=@country_one%> to VES...
      </a>
    </li>
    <li>
      <a href="/AED/VND">
        Convert 1 <%=@country_one%> to VND...
      </a>
    </li>
    <li>
      <a href="/AED/VUV">
        Convert 1 <%=@country_one%> to VUV...
      </a>
    </li>
    <li>
      <a href="/AED/WST">
        Convert 1 <%=@country_one%> to WST...
      </a>
    </li>
    <li>
      <a href="/AED/XAF">
        Convert 1 <%=@country_one%> to XAF...
      </a>
    </li>
    <li>
      <a href="/AED/XAG">
        Convert 1 <%=@country_one%> to XAG...
      </a>
    </li>
    <li>
      <a href="/AED/XAU">
        Convert 1 <%=@country_one%> to XAU...
      </a>
    </li>
    <li>
      <a href="/AED/XCD">
        Convert 1 <%=@country_one%> to XCD...
      </a>
    </li>
    <li>
      <a href="/AED/XDR">
        Convert 1 <%=@country_one%> to XDR...
      </a>
    </li>
    <li>
      <a href="/AED/XOF">
        Convert 1 <%=@country_one%> to XOF...
      </a>
    </li>
    <li>
      <a href="/AED/XPF">
        Convert 1 <%=@country_one%> to XPF...
      </a>
    </li>
    <li>
      <a href="/AED/YER">
        Convert 1 <%=@country_one%> to YER...
      </a>
    </li>
    <li>
      <a href="/AED/ZAR">
        Convert 1 <%=@country_one%> to ZAR...
      </a>
    </li>
    <li>
      <a href="/AED/ZMK">
        Convert 1 <%=@country_one%> to ZMK...
      </a>
    </li>
    <li>
      <a href="/AED/ZMW">
        Convert 1 <%=@country_one%> to ZMW...
      </a>
    </li>
    <li>
      <a href="/AED/ZWL">
        Convert 1 <%=@country_one%> to ZWL...
      </a>
    </li>
</ul>
